* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  min-height: 50px;
}

.col-box {
  min-height: 50px;
  background-color: #006CFA;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nested {
  height: 35px;
  background-color: #00E165;
  color: #fff;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.m-bottom-20 {
  margin-bottom: 20px;
}